<div class="row" [formGroup]="form">
  <div class="col-xs-12 col-md-8 form-group">
    <label class="label-input">Produto</label>
    <div class="input-group mb-3">
      <select class="form-control form-input"
              formControlName="produtoId"
              [attr.disabled]="isVisualizacao ? '' : null"
              [class.is-invalid]="formControl.produtoId.errors">
        <option [ngValue]="null"></option>
        <option *ngFor="let produto of produtos;" [value]="produto.id">
          {{produto.id}} - {{produto.nome}}
        </option>
      </select>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 form-group">
    <label class="label-input">Quantidade</label>
    <div class="input-group mb-3">
      <input type="number"
             formControlName="quantidade"
             class="form-control form-input"
             [attr.disabled]="isVisualizacao ? '' : null"
             [class.is-invalid]="formControl.quantidade.errors"/>
    </div>
  </div>
</div>
