<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img
    width="40"
    alt="Angular Logo"
    src="../../../../assets/images/images.png"
  />
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent"
       *ngIf="usuarioService.usuarioLogado !== null">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.isActive('comandas',false)">
        <a class="nav-link" [routerLink]="['/']">Início</a>
      </li>
      <li class="nav-item dropdown"
          [class.active]="router.isActive('produtos',false) || router.isActive('usuarios',false)">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['produtos']">Produtos</a>
          <a class="dropdown-item" [routerLink]="['usuarios']">Usuários</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="sair()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
