<div class="datatable-footer">
  <div class="row datatable-footer-inner">
    <div class="col-md-6 page-count">
      {{totalItensPagina}} - 10 de {{totalItens}}
    </div>
    <div class="col-md-3 {{classDisplay}}">
      {{display}}
    </div>
    <div class="col-md-3 datatable-pager">
      <pagination class="justify-content-end"
                  [totalItems]="totalItens"
                  [maxSize]="5"
                  [itemsPerPage]="totalPorPagina"
                  (pageChanged)="mudarPagina($event)"
                  [customPreviousTemplate]="prevTemplate"
                  [customNextTemplate]="nextTemplate">

      </pagination>
    </div>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <ng-container>
    <i class="fa fa-chevron-right" [class.icon-disable]="disabled" aria-hidden="true"></i>
  </ng-container>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <ng-container>
    <i class="fa fa-chevron-left" [class.icon-disable]="disabled" aria-hidden="true"></i>
  </ng-container>
</ng-template>
