<div class="container-fluid mt--6">
  <div class="col">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-body table-responsive-sm">
          <div class="form-row">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-6 form-group">
                    <label class="label-input">Garçom</label>
                    <div class="input-group mb-3">
                      <select class="form-control form-input"
                              formControlName="garcomId"
                              [attr.disabled]="isVisualizacao ? '' : null"
                              [class.is-invalid]="submitted && formControl.garcomId.errors">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let garcom of garcons;" [value]="garcom.id">
                          {{garcom.nome}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="card card-body">
                      <ng-template ngFor let-pedido [ngForOf]="pedidosForm.controls" let-i="index">
                        <div class="row">
                          <div class="col-11">
                            <app-comanda-pedido
                              [isVisualizacao]="isVisualizacao"
                              [form]="pedido"
                              [produtos]="produtos">
                            </app-comanda-pedido>
                          </div>
                          <div *ngIf="!isVisualizacao" class="col-1 pedido-action">
                            <button type="button" class="btn btn-light" (click)="removerPedido(i)">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                      <button *ngIf="!isVisualizacao"
                              type="button"
                              class="col btn btn-outline-success"
                              (click)="iniciarPedido()">
                        Novo Pedido
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                      <div [innerHTML]="error"></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!isVisualizacao" class="card-footer left crud-actions">
          <button type="button"
                  tooltip="CTRL+ALT+S - Salvar"
                  class="btn btn-primary"
                  placement="bottom"
                  (click)="onSubmit()">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
