.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-right: 0 !important;
}

.button-login {
  margin: 0 12px 0px 0px !important
}

.action-button-login {
  display: flex;
  justify-content: flex-end;
}
