<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <a type="button" class="btn btn-secondary" routerLink="/usuarios">Voltar</a>
  </ol>
</nav>

<div class="container-fluid mt--6">
  <div class="col">
    <div class="card">
      <div class="card-body table-responsive-sm">
        <div class="form-row">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-6 form-group" *ngIf="id">
                  <label class="label-input">Id</label>
                  <div class="input-group mb-3">
                    <input type="text"
                           formControlName="id"
                           disabled="true"
                           class="form-control form-input"/>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                  <label class="label-input">Nome</label>
                  <div class="input-group mb-3">
                    <input type="text"
                           formControlName="nome"
                           class="form-control form-input"
                           [attr.disabled]="isVisualizacao ? '' : null"
                           [class.is-invalid]="submitted && formControl.nome.errors"/>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                  <label class="label-input">Perfil</label>
                  <div class="input-group mb-3">
                    <select class="form-control form-input"
                            formControlName="perfil"
                            [attr.disabled]="isVisualizacao ? '' : null"
                            [class.is-invalid]="submitted && formControl.perfil.errors">
                      <option [ngValue]="1">Garçom</option>
                      <option [ngValue]="2">Cozinheiro(a)</option>
                      <option [ngValue]="3">Administrador(a)</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                  <label class="label-input">% Comissão</label>
                  <div class="input-group mb-3">
                    <input type="text"
                           formControlName="comissao"
                           class="form-control form-input"
                           currencyMask
                           [options]="{ prefix: '% ', thousands: '.', decimal: ',' , max: 99999999.99, min: 0 }"
                           [attr.disabled]="isVisualizacao ? '' : null"
                           [class.is-invalid]="submitted && formControl.comissao.errors"/>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group">
                  <label class="label-input">Login</label>
                  <div class="input-group mb-3">
                    <input type="text"
                           formControlName="login"
                           class="form-control form-input"
                           [attr.disabled]="isVisualizacao || isEdicao ? '' : null"
                           [class.is-invalid]="submitted && formControl.login.errors"/>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 form-group" *ngIf="!isVisualizacao && !isEdicao">
                  <label class="label-input">Senha</label>
                  <div class="input-group mb-3">
                    <input type="password"
                           formControlName="password"
                           class="form-control form-input"
                           [class.is-invalid]="submitted && formControl.password.errors"/>
                  </div>
                </div>
                <div class="col-12">
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                    <div [innerHTML]="error"></div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!isVisualizacao"
           class="card-footer left crud-actions">
        <button type="button"
                tooltip="CTRL+ALT+S - Salvar"
                class="btn btn-primary"
                placement="bottom"
                (click)="onSubmit()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
