footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 4px;
}

footer a {
  display: flex;
  align-items: center;
}

.conteudo-footer {
  margin: 0 auto;
  align-items: center;
  line-height: 20px;
  display: flex;
}
